@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Regular.eot');
    src: url('fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('fonts/subset-Roboto-Regular.woff') format('woff'),
        url('fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Medium.eot');
    src: url('fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('fonts/subset-Roboto-Medium.woff') format('woff'),
        url('fonts/subset-Roboto-Medium.ttf') format('truetype'),
        url('fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-display: swap;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.section {
    background: #EEEFF1;
    height: 700px;
    background-size: cover;
}

.header {
    position: absolute;
    width: 1920px;
    height: 700px;
    left: 0px;
    top: 0px;
    margin-bottom: 112px;
}

.nav {
    position: absolute;
    width: 611px;
    height: 18px;
    left: 399px;
    top: 79px;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
/* identical to box height, or 112% */
    color: #000000;
    text-decoration: none;
    margin-bottom: 160px;
}

.nav-link:last-child{
    margin-right: 0;
}

#home {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    /* Accent */
    color: #34547A;
}

.design {
    position: absolute;
    width: 541px;
    height: 60px;
    left: 399px;
    top: 257px;
}

.design-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */
    color: #000000;
    margin-bottom: 45px;
}

.design-subtitle {
    max-width: 540px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    display: flex;
    align-items: center;
    color: #727272;
    margin-bottom: 54px;
}

.batton {
    position: absolute;
    width: 225px;
    height: 65px;
    left: 399px;
    top: 494px;
}

.button-write {
    max-width: 225px;
    padding: 20px 41px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #FFFFFF;
    background: #34547A;
}

.about {
    background: #FFFFFF;
    height: 359px;
    background-size: cover;
}

.me {
    position: absolute;
    width: 540px;
    height: 158px;
    left: 690px;
    top: 812px;
    margin-bottom: 89px;
}

.me-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height, or 119% */
    color: #000000;
    text-align: center;
    margin-bottom: 42px;
}

.me-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    color: #727272;
}

.work {
    background: #34547A;
    height: 250px;
    background-size: cover;
}

.work-blok {
    width: 1920px;
    height: 250px;
    left: 0px;
    top: 1059px;
    padding: 100px 48px 0px 409px;
}

.picture {
    display: inline-block;
    width: 46px;
    height: 50px;
    margin-right: 20px;
}

.projects {
    display: inline-block;
    width: 141px;
    height: 50px;
    margin-right: 45px;  
}

.work-title {
    display: inline-block;
    width: 71px;
    height: 47px;
}

.fourty {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 114% */
    color: #FFFFFF;
    margin-bottom: 5px;
}

.work-projects {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
}

.process-background {
    background: #EEEFF1;
    height: 1004px;
    background-size: cover;
}

.process {
    position: absolute;
    width: 1920px;
    height: 1004px;
    left: 0px;
    top: 1309px;
}

.process-description {
    width: 540px;
    height: 158px;
    left: 690px;
    top: 1409px;
    padding: 100px 690px 46px;
}

.process-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height, or 119% */
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
}

.process-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    color: #727272;
}

.process-video {
    width: 1110px;
    height: 600px;
    left: 405px;
    top: 1613px;
    padding: 0 405px 100px;
}

.contacts {
    background: #34547A;
    height: 151px;
    background-size: cover;
}

.contacts-footer {
    position: absolute;
    width: 1920px;
    height: 151px;
    left: 0px;
    top: 2313px;
}

.footer-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 114% */
    color: #FFFFFF;
    width: 130px;
    height: 24px;
    padding: 50px 1384px 15px 406px;
}

.footer-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height, or 115% */
    color: #FFFFFF;
    width: 193px;
    height: 15px;
    padding: 0px 1321px 47px 406px;
}